<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dllg.ebpay.dao.custom.FreeDayDictCuMapper">

    <!--列表 -->
    <select id="dataList" resultType="map">
        SELECT
        free_day_id freeDayId,
        free_day_kind freeDayKind,
        free_day_customer freeDayCustomer,
        free_day_date freeDayDate,
        free_day freeDay,
        free_day_contract freeDayContract,
        free_day_y freeDayY,
        free_day_y_ind freeDayYInd,
        create_user_id createUserId,
        create_time createTime,
        update_user_id updateUserId,
        update_time updateTime
        FROM
        dict_free_day
        <where>
            <if test="startTime!=null">
                and create_time <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime!=null">
                and create_time <![CDATA[ <= ]]> DATE_ADD(#{endTime},INTERVAL 1 DAY)
            </if>
            <if test="freeDayKind!=null and freeDayKind!=''">
                and free_day_kind <![CDATA[ = ]]> #{freeDayKind}
            </if>
            <if test="freeDayCustomer!=null and freeDayCustomer!=''">
                and free_day_customer <![CDATA[ = ]]> #{freeDayCustomer}
            </if>
            <if test='keyword !=null and keyword !=""'>
                AND (
                POSITION(#{keyword} IN free_day_date)
                )
            </if>
        </where>
        ORDER BY free_day_date , free_day_kind , free_day_customer
    </select>


    <insert id="add" parameterType="com.dllg.ebpay.model.generator.FreeDayDict">

        insert into dict_free_day (
        free_day_id,
        free_day_kind,
        free_day_customer,
        free_day_date,
        free_day,
        free_day_contract,
        free_day_y,
        free_day_y_ind,
        create_user_id ,
        create_time
       )
        values (
        #{freeDayId},
        #{freeDayKind},
        #{freeDayCustomer},
        #{freeDayDate},
        #{freeDay},
        #{freeDayContract},
        #{freeDayY},
        #{freeDayYInd},
        #{createUserId},
        #{createTime}
       )
    </insert>

    <update id="update" parameterType="com.dllg.ebpay.model.generator.FreeDayDict">
        update dict_free_day
        set
        free_day_kind = #{freeDayKind},
        free_day_customer = #{freeDayCustomer},
        free_day_date = #{freeDayDate},
        free_day = #{freeDay},
        free_day_contract = #{freeDayContract},
        free_day_y = #{freeDayY},
        free_day_y_ind = #{freeDayYInd},
        update_user_id = #{updateUserId},
        update_time = #{updateTime}
        where free_day_id = #{freeDayId};
    </update>


    <delete id="deletes" parameterType="java.util.List">
        delete from dict_free_day where free_day_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>



    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="map">
        select
        <include refid="Base_Column_List" />
        from dict_free_day
        where free_day_kind = #{freeDayKind} and free_day_customer = #{freeDayCustomer} and free_day_date = #{freeDayDate}
    </select>

    <sql id="Base_Column_List">
        free_day_kind,free_day_customer,free_day_date ,free_day,free_day_contract,free_day_y, free_day_y_ind,
        create_user_id , create_time , update_user_id , update_time updateTime
    </sql>

    <select id="getFreeDay" parameterType="com.dllg.ebpay.model.generator.FreeDayDict" resultType="com.dllg.ebpay.model.generator.FreeDayDict">
        select free_day, free_day_y, free_day_kind, free_day_customer, free_day_date, free_day_contract
        from dict_free_day
        where free_day_kind = #{freeDayKind} and free_day_date = #{freeDayDate}
        <if test="freeDayCustomer!=null and freeDayCustomer!=''">
            and free_day_customer <![CDATA[ = ]]> #{freeDayCustomer}
        </if>
        <if test="freeDayContract!=null ">
            and free_day_contract <![CDATA[ = ]]> #{freeDayContract}
        </if>
    </select>

</mapper>