<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dllg.ebpay.dao.custom.LocalBankCardCuMapper">

    <resultMap id="BaseResultMap" type="com.dllg.ebpay.model.generator.BankCard">
        <id column="bank_card_id" jdbcType="CHAR" property="bankCardId" />
        <result column="bank_card_account_sub_id" jdbcType="CHAR" property="bankCardAccountSubId" />
        <result column="bank_card_bank" jdbcType="VARCHAR" property="bankCardBank" />
        <result column="bank_card_bank_branch" jdbcType="VARCHAR" property="bankCardBankBranch" />
        <result column="bank_card_type" jdbcType="VARCHAR" property="bankCardType" />
        <result column="bank_card_master_type" jdbcType="INTEGER" property="bankCardMasterType" />
        <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
        <result column="bank_card_reserve_bank_account_name" jdbcType="VARCHAR" property="bankCardReserveBankAccountName" />
        <result column="bank_card_reserve_mobile" jdbcType="VARCHAR" property="bankCardReserveMobile" />
        <result column="bank_card_document_type" jdbcType="VARCHAR" property="bankCardDocumentType" />
        <result column="bank_card_document_no" jdbcType="VARCHAR" property="bankCardDocumentNo" />
        <result column="bank_card_transaction_amount_type" jdbcType="INTEGER" property="bankCardTransactionAmountType" />
        <result column="bank_card_status" jdbcType="INTEGER" property="bankCardStatus" />
        <result column="bank_card_bind_bank_card_date" jdbcType="TIMESTAMP" property="bankCardBindBankCardDate" />
        <result column="bank_card_unbind_bank_card_date" jdbcType="TIMESTAMP" property="bankCardUnbindBankCardDate" />
        <result column="bank_card_create_user_id" jdbcType="CHAR" property="bankCardCreateUserId" />
        <result column="bank_card_create_time" jdbcType="TIMESTAMP" property="bankCardCreateTime" />
        <result column="bank_card_update_user_id" jdbcType="CHAR" property="bankCardUpdateUserId" />
        <result column="bank_card_update_time" jdbcType="TIMESTAMP" property="bankCardUpdateTime" />
        <result column="bank_card_is_delete" jdbcType="BIT" property="bankCardIsDelete" />
        <result column="bank_Logo" jdbcType="VARCHAR" property="bankLogo" />
    </resultMap>

    <!--查询本地银行卡列表(查询当前子账户下【关联的银行卡】信息)
       account_sub_no 子账户号(关联账户号id - 关联银行卡)
       account_sub_relation_id 关系id（用户id 或企业id）
       bank_card_status 2绑定成功,只查绑定成功的
    -->
    <select id="getLocalBankCradList" resultType="com.dllg.ebpay.model.generator.BankCard" resultMap="BaseResultMap">
                 SELECT * FROM bank_card u LEFT JOIN account_sub a ON  a.account_sub_id= u.bank_card_account_sub_id
                 where a.account_sub_no= #{bankCardAccountSubId}
                 and  a.account_sub_relation_id = #{bankCardCreateUserId}
                 and u.bank_card_status = '2'
    </select>
    <!-- 查询绑定过得银行卡-->
    <select id="getBundBankCradList" resultType="com.dllg.ebpay.model.generator.BankCard" resultMap="BaseResultMap">
        SELECT * FROM bank_card u LEFT JOIN account_sub a ON  a.account_sub_id= u.bank_card_account_sub_id
        where a.account_sub_no= #{bankCardAccountSubId}
        and  a.account_sub_relation_id = #{bankCardCreateUserId}
        and u.bank_card_status != '4'
    </select>
    <!--解绑银行卡 - 更新绑定状态为 3解绑
        子查询通过子账户号,获取子账户id
     -->
    <update id="unLocalBankCrad" parameterType="com.dllg.ebpay.model.generator.BankCard">
        update bank_card
        set
            bank_card_status = '3',
            bank_card_unbind_bank_card_date = #{bankCardUnbindBankCardDate},
            bank_card_update_user_id = #{bankCardUpdateUserId},
            bank_card_update_time = #{bankCardUpdateTime}
            where bank_card_id = #{bankCardId}
              and bank_card_account_sub_id = #{bankCardAccountSubId}
              and bank_card_no = #{bankCardNo}
    </update>

    <!--账户 关联银行卡 -->
    <select id="getByAccountSubId" resultType="map">
        SELECT
        bank_card_no,
        bank_card_bank,
        bank_card_reserve_bank_account_name,
        bank_card_bind_bank_card_date
        FROM bank_card
        WHERE bank_card_account_sub_id=#{id} AND bank_card_is_delete=0 AND bank_card_status = 2
    </select>

    <!--保存账户余额状态-->
    <update id="saveState" parameterType="com.dllg.ebpay.model.form.AccountForm">
        update account_sub
        set
        account_money_state = #{state}
        where account_sub_relation_id = #{userId}
          and account_sub_no = #{accountSubNo}

    </update>

    <!--查询账户余额状态-->
    <select id="queryMoneyState" resultType="map">
        SELECT
        account_money_state
        FROM account_sub
        where account_sub_relation_id = #{userId}
          and account_sub_no = #{accountSubNo}
    </select>

</mapper>