<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dllg.ebpay.dao.custom.UserLogCuMapper">

    <resultMap id="BaseResultMap" type="com.dllg.ebpay.model.generator.UserLog">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="user_cn_name" jdbcType="VARCHAR" property="userCnName"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate"/>
        <result column="login_mode" jdbcType="VARCHAR" property="loginMode"/>
        <result column="login_device" jdbcType="VARCHAR" property="loginDevice"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!--查询会员登录日志-->
    <select id="getLogList" resultMap="BaseResultMap">
        SELECT * from user_login_log
        <where>
            <if test="startTime != null">
                AND login_date <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND login_date <![CDATA[ <= ]]> DATE_ADD(#{endTime},INTERVAL 1 DAY)
            </if>
            <if test="userType != null">
                AND user_type = #{userType}
            </if>
            <if test="keyword!=null and keyword!=''">
                AND (
                POSITION(#{keyword} IN user_name)
                )
            </if>
            AND user_type != '0'
        </where>
        order by login_date desc
    </select>

    <!--查询系统用户登录日志-->
    <select id="getUserLogList" resultMap="BaseResultMap">
        SELECT * from user_login_log
        <where>
            <if test="startTime != null">
                AND login_date <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND login_date <![CDATA[ <= ]]> DATE_ADD(#{endTime},INTERVAL 1 DAY)
            </if>
            <if test="keyword!=null and keyword!=''">
                AND (
                POSITION(#{keyword} IN user_name)
                )
            </if>
            AND user_type = '0'
        </where>
        order by login_date desc
    </select>

    <insert id="addLog" parameterType="com.dllg.ebpay.model.generator.UserLog">
        insert into user_login_log (
                id,
                user_id,
                user_name,
                user_type,
                user_cn_name,
                login_ip,
                login_date,
                login_mode,
                login_device,
                remark
        )
        values (
                #{id},
                #{userId},
                #{userName},
                #{userType},
                #{userCnName},
                #{loginIp},
                #{loginDate},
                #{loginMode},
                #{loginDevice},
                #{remark}
        )
    </insert>

</mapper>