
.google-color {
    background-color: #4285F4;
    background-color: #34A853;
    background-color: #FBBC05;
    background-color: #EA4335;

    background-color: #24292e;

    /* twitter*/
    background-color: #088253;
    background-color: #1da1f2;
}

.qiatu-color {
    color: #c7000b;
    color: #f6b102;
    color: #000000;

    color: #f6b102;
    color: #e27d26;
    color: #fa4535;
    color: #28ac60;
    color: #00acd6;
    color: #287dbb;
    color: #cccccc;
    color: #aaaaaa;
}