<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.manage.dao.custom.InterestManagerCuMapper">

    <!--列表 -->
    <select id="dataList" resultType="map">
        SELECT
        interest_manager_id interestManagerId,
        interest_manager_ticket_no interestManagerTicketNo,
        interest_manager_ticket_no_fact interestManagerTicketNoFact,
        interest_manager_customer_name interestManagerCustomerName,
        interest_manager_money_all interestManagerMoneyAll,
        interest_manager_money_use interestManagerMoneyUse,
        interest_manager_money_surplus interestManagerMoneySurplus,
        interest_manager_money interestManagerMoney,
        interest_manager_date_start interestManagerDateStart,
        interest_manager_date_end interestManagerDateEnd,
        interest_manager_date_get interestManagerDateGet,
        interest_manager_ticket_user interestManagerTicketUser,
        interest_manager_ticket_bank interestManagerTicketBank,
        interest_manager_date interestManagerDate,
        interest_manager_interest interestManagerInterest,
        interest_manager_free_day interestManagerFreeDay,
        interest_manager_free_day_y interestManagerFreeDayY,
        interest_manager_kind interestManagerKind,
        interest_manager_contract interestManagerContract,
        interest_manager_memo interestManagerMemo,
        interest_manager_ind interestManagerInd,
        interest_manager_ind2 interestManagerInd2,
        interest_manager_date_finish interestManagerDateFinish,
        create_user_id createUserId,
        create_time createTime,
        update_user_id updateUserId,
        update_time updateTime
        FROM
        interest_manager
        <where>
            <if test="startTime!=null">
                and create_time <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime!=null">
                and create_time <![CDATA[ <= ]]> DATE_ADD(#{endTime},INTERVAL 1 DAY)
            </if>
            <if test="interestManagerKind!=null and interestManagerKind!=''">
                and interest_manager_kind <![CDATA[ = ]]> #{interestManagerKind}
            </if>
            <if test="interestManagerCustomerName!=null and interestManagerCustomerName!=''">
                and interest_manager_customer_name <![CDATA[ = ]]> #{interestManagerCustomerName}
            </if>
            <if test="interestManagerInd!=null and interestManagerInd!=''">
                and interest_manager_ind <![CDATA[ = ]]> #{interestManagerInd}
            </if>
            <if test='keyword !=null and keyword !=""'>
                AND (
                POSITION(#{keyword} IN interest_manager_ticket_no) OR
                POSITION(#{keyword} IN interest_manager_ticket_no_fact)
                )
            </if>
        </where>
        ORDER BY interest_manager_date_get , interest_manager_ticket_no_fact
    </select>

    <select id="dataListK" resultType="map">
        SELECT
        interest_manager_id interestManagerId,
        interest_manager_ticket_no interestManagerTicketNo,
        interest_manager_ticket_no_fact interestManagerTicketNoFact,
        interest_manager_customer_name interestManagerCustomerName,
        interest_manager_money_all interestManagerMoneyAll,
        interest_manager_money_use interestManagerMoneyUse,
        interest_manager_money_surplus interestManagerMoneySurplus,
        interest_manager_money interestManagerMoney,
        interest_manager_date_start interestManagerDateStart,
        interest_manager_date_end interestManagerDateEnd,
        interest_manager_date_get interestManagerDateGet,
        interest_manager_ticket_user interestManagerTicketUser,
        interest_manager_ticket_bank interestManagerTicketBank,
        interest_manager_date interestManagerDate,
        interest_manager_interest interestManagerInterest,
        interest_manager_free_day interestManagerFreeDay,
        interest_manager_free_day_y interestManagerFreeDayY,
        interest_manager_kind interestManagerKind,
        interest_manager_contract interestManagerContract,
        interest_manager_memo interestManagerMemo,
        interest_manager_ind interestManagerInd,
        interest_manager_ind2 interestManagerInd2,
        interest_manager_date_finish interestManagerDateFinish,
        create_user_id createUserId,
        create_time createTime,
        update_user_id updateUserId,
        update_time updateTime
        FROM
        interest_manager
        <where>
            <if test="startTime!=null">
                and create_time <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime!=null">
                and create_time <![CDATA[ <= ]]> DATE_ADD(#{endTime},INTERVAL 1 DAY)
            </if>
            <if test="interestManagerKind!=null and interestManagerKind!=''">
                and interest_manager_kind <![CDATA[ = ]]> #{interestManagerKind}
            </if>
            <if test="interestManagerCustomerName!=null and interestManagerCustomerName!=''">
                and interest_manager_customer_name <![CDATA[ = ]]> #{interestManagerCustomerName}
            </if>
            <if test="interestManagerInd!=null and interestManagerInd!=''">
                and interest_manager_ind <![CDATA[ = ]]> #{interestManagerInd}
            </if>
            <if test='keyword !=null and keyword !=""'>
                AND (
                POSITION(#{keyword} IN interest_manager_ticket_no) OR
                POSITION(#{keyword} IN interest_manager_ticket_no_fact)
                )
            </if>
            and interest_manager_ind != 'K' AND interest_manager_money > 0
        </where>
        ORDER BY interest_manager_date_get , interest_manager_ticket_no_fact
    </select>

    <select id="getNewNo" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT  max( right( interest_manager_ticket_no_fact , 2 ) ) + 1
        FROM interest_manager
        WHERE interest_manager_ticket_no = #{interestManagerTicketNo}
    </select>


    <insert id="add" parameterType="com.test.manage.model.generator.InterestManager">

        insert into interest_manager (
        interest_manager_id,
        interest_manager_ticket_no,
        interest_manager_ticket_no_fact,
        interest_manager_customer_name,
        interest_manager_money_all,
        interest_manager_money_use,
        interest_manager_money_surplus,
        interest_manager_money,
        interest_manager_date_start,
        interest_manager_date_end,
        interest_manager_date_get,
        interest_manager_ticket_user,
        interest_manager_ticket_bank,
        interest_manager_date,
        interest_manager_kind,
        interest_manager_memo,
        interest_manager_ind,
        create_user_id ,
        create_time
       )
        values (
        #{interestManagerId},
        #{interestManagerTicketNo},
        #{interestManagerTicketNoFact},
        #{interestManagerCustomerName},
        #{interestManagerMoneyAll},
        #{interestManagerMoneyUse},
        #{interestManagerMoneySurplus},
        #{interestManagerMoney},
        #{interestManagerDateStart},
        #{interestManagerDateEnd},
        #{interestManagerDateGet},
        #{interestManagerTicketUser},
        #{interestManagerTicketBank},
        #{interestManagerDate},
        #{interestManagerKind},
        #{interestManagerMemo},
        #{interestManagerInd},
        #{createUserId},
        #{createTime}
       )
    </insert>

    <update id="update" parameterType="com.test.manage.model.generator.InterestManager">
        update interest_manager
        set
            interest_manager_ticket_no = #{interestManagerTicketNo},
            interest_manager_ticket_no_fact = #{interestManagerTicketNoFact},
            interest_manager_customer_name = #{interestManagerCustomerName},
            interest_manager_money_all = #{interestManagerMoneyAll},
            interest_manager_money_use = #{interestManagerMoneyUse},
            interest_manager_money_surplus = #{interestManagerMoneySurplus},
            interest_manager_money = #{interestManagerMoney},
            interest_manager_date_start = #{interestManagerDateStart},
            interest_manager_date_end = #{interestManagerDateEnd},
            interest_manager_date_get = #{interestManagerDateGet},
            interest_manager_ticket_user = #{interestManagerTicketUser},
            interest_manager_ticket_bank = #{interestManagerTicketBank},
            interest_manager_date = #{interestManagerDate},
            interest_manager_interest = #{interestManagerInterest},
            interest_manager_free_day = #{interestManagerFreeDay},
            interest_manager_free_day_y = #{interestManagerFreeDayY},
            interest_manager_kind = #{interestManagerKind},
            interest_manager_memo = #{interestManagerMemo},
            interest_manager_contract = #{interestManagerContract},
            interest_manager_ind = #{interestManagerInd},
            interest_manager_date_finish = #{interestManagerDateFinish},
            update_user_id = #{updateUserId},
            update_time = #{updateTime}
        where interest_manager_id = #{interestManagerId}
    </update>

    <update id="updateStatus" parameterType="com.test.manage.model.generator.InterestManager">
        update interest_manager
        set
            interest_manager_ind  = #{interestManagerInd},
            interest_manager_ind2 = #{interestManagerInd2},
            interest_manager_date_finish = #{interestManagerDateFinish},
            update_user_id = #{updateUserId},
            update_time = #{updateTime}
            <if test="interestManagerMoneySurplus != null">
                ,interest_manager_money_surplus = #{interestManagerMoneySurplus}
            </if>
        where interest_manager_id = #{interestManagerId}
    </update>


    <delete id="deletes" parameterType="java.util.List">
        delete from interest_manager where interest_manager_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="editAgain" parameterType="com.test.manage.model.generator.InterestManager">
        update interest_manager
        set
        interest_manager_date = #{interestManagerDate},
        interest_manager_kind = #{interestManagerKind},
        interest_manager_memo = #{interestManagerMemo},
        interest_manager_contract = #{interestManagerContract},
        interest_manager_interest = #{interestManagerInterest},
        interest_manager_free_day = #{interestManagerFreeDay},
        interest_manager_free_day_y = #{interestManagerFreeDayY},
        interest_manager_ind = #{interestManagerInd},
        update_user_id = #{updateUserId},
        update_time = #{updateTime}
        where interest_manager_id = #{interestManagerId}
    </update>

    <update id="interestCompute" parameterType="com.test.manage.model.generator.InterestManager">
        UPDATE interest_manager
        SET
        interest_manager_free_day = #{interestManagerFreeDay},
        interest_manager_free_day_y = #{interestManagerFreeDayY},
        interest_manager_money = #{interestManagerMoney},
        interest_manager_ind = #{interestManagerInd},
        update_user_id = #{updateUserId},
        update_time = #{updateTime}
        where interest_manager_id = #{interestManagerId}
    </update>

    <update id="useMoneyAvg" parameterType="com.test.manage.model.generator.InterestManager">
        UPDATE interest_manager
        SET
        interest_manager_money_use = #{interestManagerMoneyUse},
        interest_manager_money_surplus = #{interestManagerMoneySurplus},
        interest_manager_ind = #{interestManagerInd},
        interest_manager_ind2 = #{interestManagerInd2},
        update_user_id = #{updateUserId},
        update_time = #{updateTime}
        where interest_manager_id = #{interestManagerId}
    </update>
    
    <select id="getMoneyUse" parameterType="java.lang.String" resultType="java.lang.String">
        select avg(interest_manager_money_all) - sum(interest_manager_money_use)
        from interest_manager
        where interest_manager_ticket_no = #{interestManagerTicketNo}
    </select>



    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="map">
        select
        <include refid="Base_Column_List" />
        from interest_manager
        where interest_manager_ticket_no = #{interestManagerTicketNo}
    </select>

    <sql id="Base_Column_List">
        interest_manager_id,
        interest_manager_ticket_no,
        interest_manager_ticket_no_fact,
        interest_manager_customer_name,
        interest_manager_money_all,
        interest_manager_money_use,
        interest_manager_money_surplus,
        interest_manager_money,
        interest_manager_date_start,
        interest_manager_date_end,
        interest_manager_date_get,
        interest_manager_ticket_user,
        interest_manager_ticket_bank,
        interest_manager_date,
        interest_manager_kind,
        interest_manager_memo,
        interest_manager_contract,
        interest_manager_ind,
        interest_manager_ind2,
        interest_manager_date_finish,
        create_user_id , create_time , update_user_id , update_time updateTime
    </sql>

</mapper>