<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.manage.dao.custom.InvoiceManageCuMapper">

    <resultMap id="BaseResultMap" type="com.test.manage.model.generator.FpMain">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="djh" jdbcType="VARCHAR" property="djh"/>
        <result column="gfmc" jdbcType="VARCHAR" property="gfmc"/>
        <result column="gfsh" jdbcType="INTEGER" property="gfsh"/>
        <result column="gfyhzh" jdbcType="VARCHAR" property="gfyhzh"/>
        <result column="gfdzdh" jdbcType="VARCHAR" property="gfdzdh"/>
        <result column="bz" jdbcType="VARCHAR" property="bz"/>
        <result column="fhr" jdbcType="VARCHAR" property="fhr"/>
        <result column="skr" jdbcType="VARCHAR" property="skr"/>
        <result column="spbmbbh" jdbcType="VARCHAR" property="spbmbbh"/>
        <result column="hsbz" jdbcType="VARCHAR" property="hsbz"/>

        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>

    </resultMap>


    <resultMap id="BaseResultDetailMap" type="com.test.manage.model.generator.FpDetail">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="djh" jdbcType="VARCHAR" property="djh"/>
        <result column="xh" jdbcType="VARCHAR" property="xh"/>
        <result column="spmc" jdbcType="INTEGER" property="spmc"/>
        <result column="ggxh" jdbcType="VARCHAR" property="ggxh"/>
        <result column="jldw" jdbcType="VARCHAR" property="jldw"/>
        <result column="spbm" jdbcType="VARCHAR" property="spbm"/>
        <result column="qyspbm" jdbcType="VARCHAR" property="qyspbm"/>
        <result column="syyhzcbz" jdbcType="VARCHAR" property="syyhzcbz"/>
        <result column="lslbz" jdbcType="VARCHAR" property="lslbz"/>
        <result column="yhzcsm" jdbcType="VARCHAR" property="yhzcsm"/>
        <result column="dj" jdbcType="VARCHAR" property="dj"/>
        <result column="sl" jdbcType="VARCHAR" property="sl"/>
        <result column="je" jdbcType="VARCHAR" property="je"/>
        <result column="slv" jdbcType="VARCHAR" property="slv"/>
        <result column="kce" jdbcType="VARCHAR" property="kce"/>

        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>

    </resultMap>

    <!--查询-->
    <select id="getFpMainList" resultMap="BaseResultMap">
        SELECT * from fp_main
        <where>
            <if test="startTime != null">
                AND create_date <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND create_date <![CDATA[ <= ]]> DATE_ADD(#{endTime},INTERVAL 1 DAY)
            </if>
            <if test="state != null and state!=''">
                AND state = #{state}
            </if>
            <if test="keyword!=null and keyword!=''">
                AND (
                POSITION(#{keyword} IN djh) OR
                POSITION(#{keyword} IN gfmc) OR
                POSITION(#{keyword} IN gfsh) OR
                POSITION(#{keyword} IN gfyhzh)
                )
            </if>
        </where>
        order by create_date desc
    </select>

    <!--查询明细-->
    <select id="getFpDetailList" resultMap="BaseResultDetailMap">
        SELECT * from fp_detail
        <where>
            <if test="keyword!=null and keyword!=''">
                AND (
                POSITION(#{keyword} IN djh) OR
                POSITION(#{keyword} IN spmc) OR
                POSITION(#{keyword} IN ggxh)
                )
            </if>
            <if test="codeDetail!=null and codeDetail!=''">
                AND  djh = #{codeDetail}
            </if>
        </where>
        order by CONVERT(xh,SIGNED) desc
    </select>

    <insert id="add" parameterType="com.test.manage.model.generator.FpMain">
        insert into fp_main (
                djh,
                gfmc,
                gfsh,
                gfyhzh,
                gfdzdh,
                bz,
                fhr,
                skr,
                spbmbbh,
                hsbz,
                create_user,
                create_date,
                state
        )
        values (
                #{djh},
                #{gfmc},
                #{gfsh},
                #{gfyhzh},
                #{gfdzdh},
                #{bz},
                #{fhr},
                #{skr},
                #{spbmbbh},
                #{hsbz},
                #{createUser},
                #{createDate},
                #{state}
        )
    </insert>

    <insert id="addDetail" parameterType="com.test.manage.model.generator.FpDetail">
        insert into fp_detail (
        djh,
        xh,
        spmc,
        ggxh,
        jldw,
        spbm,
        qyspbm,
        syyhzcbz,
        lslbz,
        yhzcsm,
        dj,
        sl,
        je,
        slv,
        kce,

        create_user,
        create_date
        )
        values (
        #{djh},
        #{xh},
        #{spmc},
        #{ggxh},
        #{jldw},
        #{spbm},
        #{qyspbm},
        #{syyhzcbz},
        #{lslbz},
        #{yhzcsm},
        #{dj},
        #{sl},
        #{je},
        #{slv},
        #{kce},

        #{createUser},
        #{createDate}
        )
    </insert>

    <update id="update" parameterType="com.test.manage.model.generator.FpMain">
        update fp_main
        set gfmc= #{gfmc},
            gfsh= #{gfsh},
            gfyhzh= #{gfyhzh},
            gfdzdh= #{gfdzdh},
            bz= #{bz},
            fhr= #{fhr},
            skr= #{skr},
            spbmbbh= #{spbmbbh},
            hsbz= #{hsbz},
            create_user = #{createUser},
            create_date = #{createDate},
            state = #{state}
        where id = #{id}
         and djh = #{djh}

    </update>

    <update id="updateDetail" parameterType="com.test.manage.model.generator.FpDetail">
        update fp_detail
        set xh = #{xh},
            spmc = #{spmc},
            ggxh = #{ggxh},
            jldw = #{jldw},
            spbm = #{spbm},
            qyspbm = #{qyspbm},
            syyhzcbz = #{syyhzcbz},
            lslbz = #{lslbz},
            yhzcsm = #{yhzcsm},
            dj = #{dj},
            sl = #{sl},
            je = #{je},
            slv = #{slv},
            kce = #{kce}
        where id = #{id}
        and djh = #{djh}

    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from fp_main where djh = #{djh}
    </delete>

    <delete id="deleteDetail" parameterType="java.lang.String">
        delete from fp_detail where djh = #{djh}
    </delete>

</mapper>