<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.manage.dao.custom.ModifyAccountPhoneCuMapper">


    <select id="getAccountSub" resultType="com.test.manage.model.generator.AccountSub" parameterType="java.lang.String">

        SELECT a.account_sub_id ,
               a.account_sub_no,
               a.account_transaction_phone,

               account_sub_relation_id,
               account_sub_no

         from account_sub a  WHERE a.account_sub_no = #{accountSub}
    </select>


    <update id="setAccountSubPhone" parameterType="com.test.manage.model.generator.AccountSub">
        update account_sub
        set
        account_transaction_phone = #{accountTransactionPhone}
        where account_sub_create_user_id = #{accountSubCreateUserId}
        and account_sub_no = #{accountSubNo}
    </update>

</mapper>